@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg-color: #f2eae8;
  --footer-bg-color: #efe3e3;
  --primary-color: #832728;
  --secondary-color: #8b898a;
  --cart-logo-bg-color: #f8f4f3;
  --alert-background-color: #fff7ec;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-medium rounded text-center py-3;
  }
  .btn-secondary {
    @apply bg-white text-primary font-medium rounded py-3 text-center border border-primary;
  }
}

.hover-underline::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 100%;
  height: 1.5px;
  border-radius: 5px;
  margin-left: -5%;
  background-color: #c95c5c;
  transition: width 0.5s ease;
  /* margin-top: 4px; */
}

.hover-underline:hover::after {
  width: 110%;
}

@keyframes spin-outline {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counter-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.main-animate-div:hover .animate-counter-spin {
  animation: counter-spin 10s linear infinite;
}
.main-animate-div:hover .animate-spin-outline {
  outline: dashed;
  outline-color: #110a3b;
  animation: spin-outline 10s linear infinite;
}

.static-img-content:hover {
  box-shadow: 2px 2px 10px #c1a9a7, -2px 2px 10px #c1a9a7, 2px -2px 10px #c1a9a7;
}
.static-img-content:hover div h1 {
  display: none;
}
.static-img-content:hover .explore-div {
  width: 100%;
  /* background-color: #110a3b; */
  transition: width 0.5s linear;
}

@keyframes grow-div {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 12px;
    height: 12px;
  }
}

.growing-inner-div {
  animation: grow-div 1s ease-in-out infinite;
}

.text-default {
}
.text-default-light {
  color: #cb7676;
}
.text-default-medium {
  color: #c05d5d;
}
.text-default-high {
  color: #c75e5e;
}
.text-default-extra-high {
  color: #c25252;
}

.bg-default-light {
  background-color: #efe3e3;
}
.bg-default-medium {
  background-color: #f0c8c8;
}
.bg-default-high {
  background-color: #f2b8b8;
}
.bg-default-extra-high {
  background-color: #f4abab;
}

.btn-toggele {
  color: #c25252;
  background-color: #efe3e3;
  border: 1px solid #c25252;
}
.btn-toggele:hover {
  color: #efe3e3;
  background-color: #c25252;
}

.custom-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-arrow:hover {
  background-color: #333; /* Darken on hover */
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: -50px; /* Adjust to move arrow outside */
  transform: translateY(-50%);
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: -50px; /* Adjust to move arrow outside */
  transform: translateY(-50%);
}
