@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hover-underline::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 100%;
  height: 1.5px;
  border-radius: 5px;
  margin-left: -5%;
  background-color: #c95c5c;
  transition: width 0.5s ease;
  /* margin-top: 4px; */
}

.hover-underline:hover::after {
  width: 110%;
}

@keyframes spin-outline {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counter-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.main-animate-div:hover .animate-counter-spin {
  animation: counter-spin 10s linear infinite;
}
.main-animate-div:hover .animate-spin-outline {
  outline: dashed;
  outline-color: #110a3b;
  animation: spin-outline 10s linear infinite;
}

.static-img-content:hover {
  box-shadow: 1px 1px 15px #7f2e26;
}
.static-img-content:hover div h1 {
  display: none;
}
.static-img-content:hover .explore-div {
  width: 100%;
  justify-content: space-between !important;
  transition: justify-content 10s ease;
}

@keyframes grow-div {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 12px;
    height: 12px;
  }
}

.growing-inner-div {
  animation: grow-div 1s ease-in-out infinite;
}

.text-default {
}
.text-default-light {
  color: #cb7676;
}
.text-default-medium {
  color: #c05d5d;
}
.text-default-high {
  color: #c75e5e;
}
.text-default-extra-high {
  color: #c25252;
}

.bg-default-light {
  background-color: #efe3e3;
}
.bg-default-medium {
  background-color: #f0c8c8;
}
.bg-default-high {
  background-color: #f2b8b8;
}
.bg-default-extra-high {
  background-color: #f4abab;
}

.btn-toggele {
  color: #c25252;
  background-color: #efe3e3;
  border: 1px solid #c25252;
}
.btn-toggele:hover {
  color: #efe3e3;
  background-color: #c25252;
}
